@use '_commons' as c;

#container_noticias {
    background-color: whitesmoke ;
    background-size: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
}

#container_noticias .bloque_noticias {
    display: grid;
    grid-column-gap: 3px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows:  repeat (6, 20%);
    grid-template-areas:
    "a a a a a"
    "a a a a a"
    "b b b b b"
    "b b b b b"
    "c c c c c"
    "d d d e e"
    ;
}

.noticia_1{
    grid-area: a;
    background-color:map-get(c.$colores,"secundario");
    border-radius: 6px;
    text-align: center;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
    padding-top: 10px;
}

.noticia_1  .titulo_n {
    text-decoration: none;   
    color: map-get(c.$colores,"titulos");   
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.noticia_1 .bajada_n {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size:15px;
    color: map-get(c.$colores,"bajadas");
}

.noticia_1 .img_n {
    margin-top: 10px;
    border-radius: 6px;
    max-width: 90%;
    height: auto;
    border-color: white;
    border-style: solid;
}


.noticia_2 {
    grid-area: b;
    background-color:map-get(c.$colores,"secundario");
    border-radius: 6px;
    text-align: center;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
    padding-top: 10px; 
}

.noticia_2  .titulo_n {
    text-decoration: none; 
    color: map-get(c.$colores,"titulos");    
    font-size:30px; 
}

.noticia_2 .bajada_n {
    margin-top: 10px;
    font-size: 15px;
    color: map-get(c.$colores,"bajadas");
}

.noticia_2 .img_n {
    margin-top: 10px;
    border-radius: 6px;
    width: 80%;
    height: auto;
    border-color: white;
    border-style: solid;
}

.noticia_3{
    grid-area: c;
    background-color:map-get(c.$colores,"secundario");
    border-radius: 6px;
    text-align: center;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch; 
    padding-top: 10px;
}

.noticia_3  .titulo_n {
    text-decoration: none; 
    color: map-get(c.$colores,"titulos");
    font-size: 30px;     
}

.noticia_3 .bajada_n {
    margin-top: 10px;
    color: map-get(c.$colores,"bajadas");
    font-size: 15px;
    margin-right: 10px;
    margin-left: 10px;
}

.noticia_3 .img_n {
    margin-top: 20px;
    border-radius: 6px;
    width: 80%;
    height: 300px;
    border-color: white;
    border-style: solid;
}

.noticia_4 {
    grid-area: d;
    background-color:map-get(c.$colores,"secundario");
    border-radius: 6px;
    text-align: center;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;  
    padding-top: 10px;
}

.noticia_4  .titulo_n {
    font-size: 20px; 
    text-decoration: none; 
    color: map-get(c.$colores,"titulos");
    
}

.noticia_4 .bajada_n {
    margin-top: 10px;
    color:map-get(c.$colores,"bajadas");
    font-size: 13px;
    padding-left: 5px;
    padding-right: 5px;
}

.noticia_4 .img_n {
    margin-top: 10px;
    border-radius: 6px;
    width: 80%;
    height: auto;
    border-color: white;
    border-style: solid;
}


.noticia_5 {
    grid-area: e;
    background-color:map-get(c.$colores,"secundario");
    border-radius: 6px;
    text-align: center;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;  
    padding-top: 10px;
}

.noticia_5  .titulo_n {
    text-decoration: none; 
    color: map-get(c.$colores,"titulos");  
    font-size: 20px;    
}

.noticia_5 .bajada_n {
    margin-top: 10px;
    font-size: 12px;
    margin-left: 5px;
    color:map-get(c.$colores,"bajadas");
}

.noticia_5 .img_n {
    margin-top: 10px;
    border-radius: 6px;
    width: 80%;
    height: auto;
    border-color: white;
    border-style: solid;
}



#news_feed_1, #news_feed_2, #news_feed_3,
#news_feed_4, #news_feed_5 {
    background-color: map-get(c.$colores,"secundario");
    background-size: 100%;
	margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 6px;
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

}


.titulo_nota {
    font-size: 45px;
    margin-top: 20px;
    color: map-get(c.$colores,"titulos");
}

.foto_noticia {
    width: 300px;
    height: 250px;
}

.video_noticia {
    width: 80%;
    height: 70%;
    padding-left: 10px;
    padding-right: 10px;
}

.bajada_noticia {
    justify-content: center;
    text-align: justify;
    font-size: 20px;
    color: map-get(c.$colores,"bajadas");
    margin-left: 20px;
    margin-right: 20px;
}

.autor_noticia {
    align-self: flex-start;
    margin-left: 60px;
    font-size: small;
    color: map-get(c.$colores,"bajadas")
}

.nota_noticia {
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    font-size: small;
    color: black;
}

@media only screen and (min-width: 768px) {
   
    #container_noticias .bloque_noticias {
        grid-template-areas:
        "a a a c c"
        "a a a c c"
        "a a a b b"
        "d d d b b"
        "d d d e e"
        "d d d e e"
        ;
    }
    
   
    .noticia_1  .titulo_n {
        font-size: 30px;
    }
   
    
   
    .noticia_2  .titulo_n {
        font-size: 30px; 
    }
    
    .noticia_2 .bajada_n {
        font-size: 20px;
    }
    
    .noticia_4  .titulo_n {
        text-decoration: none; 
        color: map-get(c.$colores,"titulos") ;  
        font-size: 40px;  
    }
   
    .noticia_5  .titulo_n {
        font-size: 25px;    
    }
    
    .noticia_5 .bajada_n {
        font-size: 15px;
    }   
    
    .titulo_nota {
        font-size: xxx-large;
    }
    
    .foto_noticia {
        width: 700px;
        height: 600px;
    }

    
    .bajada_noticia {
        font-size: x-large;
    }
    
    .autor_noticia {
        justify-content:left;
        font-size: medium;
    }

    .video_noticia {
        width: 700px;
        height: 400px;
    }

    .nota_noticia {
        font-size:medium;
    }


}